<div>
  <div class="modal-header">
      <h4>Add a new team</h4>
  </div>
  <div class="modal-body">

<form role="form">
  <div class="form-group">
    <label for="newTeam">Name of new team:</label>
    <input type="text" class="form-control" id="newTeam" ng-model="newTeamName" ng-change="isNameUnique()" required ng-trim>
  </div>
</form>
  {{newTeamName}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Abort</button>
    <button class="btn btn-success" ng-click="ok()" ng-disabled="disableAddButton">Add</button>
  </div>
</div>
